--
-- PostgreSQL database dump
--

\restrict aXDlMqryMbx4AUwj60IkqV9VLfSsO1ty4ieqcTTqanzOma8qcCgLTtN6iRBwqf2

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: entrada; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entrada (
    cod_usuario integer NOT NULL,
    usuario character varying(20) NOT NULL,
    senha character varying(10) NOT NULL
);


ALTER TABLE public.entrada OWNER TO postgres;

--
-- Name: entrada_cod_usuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.entrada_cod_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.entrada_cod_usuario_seq OWNER TO postgres;

--
-- Name: entrada_cod_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.entrada_cod_usuario_seq OWNED BY public.entrada.cod_usuario;


--
-- Name: entrada cod_usuario; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrada ALTER COLUMN cod_usuario SET DEFAULT nextval('public.entrada_cod_usuario_seq'::regclass);


--
-- Data for Name: entrada; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.entrada (cod_usuario, usuario, senha) FROM stdin;
1	haruka	1008Liz
2	marly	Tapi1225
3	admin	admin01
4	luiz	12345
5	gustavo	5678910
6	melissa	1112131415
7	mariana	67676767
8	ramon	1617181920
\.


--
-- Name: entrada_cod_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.entrada_cod_usuario_seq', 8, true);


--
-- Name: entrada entrada_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrada
    ADD CONSTRAINT entrada_pkey PRIMARY KEY (cod_usuario);


--
-- PostgreSQL database dump complete
--

\unrestrict aXDlMqryMbx4AUwj60IkqV9VLfSsO1ty4ieqcTTqanzOma8qcCgLTtN6iRBwqf2

